*, *::after, *::before {
	box-sizing: border-box;
	font-family: Arial;
}

.title {
	color: black;
	margin: auto;
  	width: 50%;
 	border: 3px solid black;
 	padding: 10px;
 	text-align: center;
}

.user_names {
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 5em;
}

.user {
	font-size: 1.5em;
	margin-top: 2em;
	margin-bottom: 2em;
	border-radius: 4px;
	padding: 14px 40px;
	background-color: white;
  	color: black;
  	transition-duration: 0.4s;
}

.user_selected {
	background-color: gold;
}


.user1 {
	border: 4px solid #4CAF50;
}

.user1:hover {
	background-color: #4CAF50;
	color: white;
}

.user2 {
	border: 4px solid #008CBA;
}

.user2:hover {
	background-color: #008CBA;
	color: white;
}

.user3 {
	border: 4px solid #f44336;
}

.user3:hover {
	background-color: #f44336;
	color: white;
}

.user4 {
	border: 4px solid #FF8C00;
}

.user4:hover {
	background-color: #FF8C00;
	color: white;
}

.add_user_section {
	display: grid;
	grid-template-columns: auto;
	width: 6%;
	gap: 10px;
	margin-top: 10px;
	margin-left: 85%;
	margin-bottom: 10px;
}

.add_user_button {
	margin-top: 10px;
	min-width: 1em;
	font-size: 1em;
	border-radius: 4px;
	padding: 14px 10px;
	background-color: white;
  	color: #555555;
  	transition-duration: 0.4s;
}

.add_user_button:hover {
	background-color: #555555;
	color: white;
}

.add_user_input {
	width: 7em;
	border: none;
	border-radius: none;
	border-bottom: 3px solid #ccc;
	resize: none;
	background-color: #f8f8f8;
  	outline: none;
  	font-size: 1.5em;
}

.charge_buttons {
	display: grid;
	grid-template-columns: auto auto;
	width: 10%;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.charge_button {
	font-size: 1em;
	margin-top: 0.1	em;
	margin-bottom: 0.1	em;
	border-radius: 4px;
	padding: 14px 40px;
	background-color: white;
  	color: #555555;
  	transition-duration: 0.4s;
}

.charge_button:hover {
	background-color: #555555;
	color: white;
}

.group_charge_amount, .individual_charge_amount {
	width: 10em;
	border: none;
	border-radius: none;
	border-bottom: 3px solid #ccc;
	resize: none;
	background-color: #f8f8f8;
	transition: 0.5s;
  	outline: none;
  	font-size: 2em;
}

.confirm_charge {
	display: none;
}

.charge_individual_selected {
	background-color: #A9A9A9;
	color: white;
}


.group_charge_amount:focus {
	border-bottom: 3px solid #555;
}

.user_owes {
	list-style-type: circle;
}

.user1_owes {
	border: 4px solid #4CAF50;
  	padding: 20px;
}

.user1_owes li {
	color: darkgreen;
	padding: 5px;
	margin-left: 35px;
}

.user2_owes {
	border: 4px solid #008CBA;
  	padding: 20px;
}

.user2_owes li {
	color: darkblue;
	padding: 5px;
	margin-left: 35px;
}

.user3_owes {
	border: 4px solid #f44336;
  	padding: 20px;
}

.user3_owes li {
	color: darkred;
	padding: 5px;
	margin-left: 35px;
}

.user4_owes {
	border: 4px solid #FF8C00;
  	padding: 20px;
}

.user4_owes li {
	color: darkorange;
	padding: 5px;
	margin-left: 35px;
}


/* homePage */
.menu_buttons {
	padding-left: 0;
	list-style: none;
  }

.menu_buttons li {
	width: 50%;
    height: 100px;
    margin: auto;
	border: 3px solid rgb(145, 218, 255);
	margin-bottom: 15px;
	justify-items: center;
	border-radius: 25px;
}

.menu_buttons li:hover {
	background-color: rgb(145, 218, 255);
}

.menu_buttons li a {
	display: table-cell;
    vertical-align: middle;
    width: 1000px;
    height: 100px;
    padding-bottom: 5px; 
	text-align: center;
    font-size: 20px;
	font-weight: bold;
    text-decoration: none;
    color: #000;    	
    outline: none;
    background: url(TripSplit.html);
}

